// Load component based styles
@import "_base_component.scss";

//
// ----------------------------
// #COLORS
// ----------------------------
$font-blue: #126f9a;
$white: #FFFFFF;

// social platforms
$facebook-blue: #1877F2;
$facebook-focus-blue: #29487d;
$google-blue: #4285f4;
$google-focus-blue: #287ae6;
$microsoft-black: #2f2f2f;
$microsoft-focus-black: #000;
$apple-black: #000000;
$apple-focus-black: $apple-black;

$elevation-level-2-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);


// Forgot Password Page
.forgot-password-button-width {
  min-width: 6rem;
}

.centered-align-spinner {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  margin: auto;
}

.main-content {
  @extend .pt-4;
  min-width: 464px !important;
}

.welcome-page-content {
  min-width: 464px !important;
}

.stateful-button-width {
  width: 12rem;
}

.register-stateful-button-width {
  min-width: 14.4rem;
}

.tpa-skeleton {
  margin-bottom: 0.75rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.close {
  padding-bottom: 0px !important;
  padding-top: 3px !important;
}

.focus-out {
  position: absolute;
  padding-left: 17px;
  opacity: 0.75;
  z-index: 1;
}

.alert-link {
  font-weight: normal;
  text-decoration: underline;
  color: $info-300 !important;

  &:hover {
    color: $info-500 !important;
  }
}

.form-control {
  background-color: $white !important;
  font-size: 0.875rem;
  line-height: 1.5;
  height: 2.75rem;

}

.btn-social {
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 1rem;
  font-size: 14px;

  background-color: $white;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  width: 20.625rem;
  height: 3rem;
  color: #6b7280;

  .icon-image {
    background-color: transparent;
    max-height: 24px;
    max-width: 24px;
  }
}

.btn-tpa {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  width: 14rem;

  .icon-image {
    background-color: transparent;
    max-height: 24px;
    max-width: 24px;
  }
}

.font-container {
  background-color: white;
  color: $white;
  font-size: 11px;

  margin-left: 4px;
  padding-top: 0px;
  min-width: 25px;
  height: 25px;
}

.btn-oa2-facebook {
  color: $white;
  border-color: $facebook-blue;
  background-color: $facebook-blue;

  &:hover,
  &:focus {
    background-color: $facebook-focus-blue;
    border: 1px solid $facebook-focus-blue;
    color: $white;
  }
}

.btn-oa2-google-oauth2 {
  color: $white;
  border-color: $google-blue;
  background-color: $google-blue;

  .icon-image {
    margin-left: -6px;
    max-height: 34px;
    max-width: 34px;
    height: 34px;
  }

  &:hover,
  &:focus {
    background-color: $google-focus-blue;
    border: 1px solid $google-focus-blue;
    color: $white;
  }
}

.btn-oa2-apple-id {
  color: $white;
  border-color: $apple-black;
  background-color: $apple-black;
  font-size: 16px;

  .icon-image {
    max-height: 1.8em;
    max-width: 2.0em;
  }

  &:hover,
  &:focus {
    background-color: $apple-focus-black;
    border: 1px solid $apple-focus-black;
    color: $white;
  }
}

.btn-oa2-azuread-oauth2 {
  color: $white;
  border-color: $microsoft-black;
  background-color: $microsoft-black;

  &:hover,
  &:focus {
    background-color: $microsoft-focus-black;
    border: 1px solid $microsoft-focus-black;
    color: $white;
  }
}

.submit {
  display: inherit;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.institute-icon {
  @extend .mr-1;
  @extend .text-gray;

  display: inline-block;
  margin-bottom: 0.25rem;
  height: 18px;
  width: 18px;

  svg {
    display: inline-block;
  }
}

.login-help {
  padding-left: 14px;
}

.invalid-feedback {
  color: $red;
}

.full-vertical-height {
  height: 100vh;
}

.help-links {
  margin-left: -5px;
}

select.form-control {
  background: none !important;
}

#honor-code p {
  margin: 0;
  padding: 0;
}

#honor-code a span {
  @extend .sr-only;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.mw-420 {
  max-width: 420px;
}

.mw-500 {
  max-width: 500px;
}

.mw-32em {
  max-width: 32em;
}

.h-90 {
  height: 90%;
}

.mt-10 {
  margin-top: 10px;
}

.mt-7 {
  margin-top: 7rem;
}

.pt-10 {
  padding-top: 10px;
}

#password-requirement-left {
  opacity: 1;
  @extend .x-small;
  filter: drop-shadow($elevation-level-2-shadow) drop-shadow($elevation-level-2-shadow) !important;
  right: 0.2rem !important;
  .tooltip-inner {
    background: $white;
    display: block;
    color: $gray-500;
  }
  .arrow::before {
    border-left-color: $white;
  }
}

#password-requirement-top {
  @extend .x-small;
  filter: drop-shadow($elevation-level-2-shadow) drop-shadow($elevation-level-2-shadow) !important;
  opacity: 1;
  width: 90%;
  bottom: 10px !important;
  display: flex;
  justify-content: center;

  .tooltip-inner {
    min-width: 464px !important;
    background: $white;
    display: block;
    color: $gray-500;
  }
  .arrow::before {
    border-top-color: $white;
  }

}
#forgotpassword-success-alert {
  .alert-link {
    color: $gray-700 !important;
  }
}

.username-suggestion {
  padding: 1px 0.5rem;
  margin: 0.25rem;
  border-radius: 0.375rem;
  line-height: 24px;
  font-size: 12px;
  font-weight: normal;
  color: $primary-700;
}

.username-suggestion-label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-right: 0.25rem;
}

.yellow-border {
  border: 2px solid $accent-b;
}

.institute-heading {
  color: $primary-700;
}

.logistration-button {
  color: $gray-700;
}

.logistration-button:hover{
  color: $gray-700;
  text-decoration: none;
}

.dropdown-item:active {
    background-color: $light-300;
}

.dropdown-container {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-height: 200px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25rem;
    overflow-y: scroll;
    position: absolute;
    background-color: $white;
    width: 464px;
    z-index: 100 !important;
}

.email-error-alert {
  padding: 0.5rem 1rem;

  .alert-close {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  .alert-text {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .alert-link {
    color: $primary !important;

    &:hover {
      text-decoration: underline;
      color: $info-700 !important;
    }
  }
}

.email-warning-alert-link {
  color: $info-500 !important;

  &:hover {
    text-decoration: underline;
    color: $info-700 !important;
  }
}

#forgot-password {
  &:hover {
    text-decoration: underline;
  }
  font-size: 0.8rem;
  margin: 0px;
  padding: 0px;
  color: #f39c12;
}

.icon-size {
  width: 2.3rem;
}
.has-floating-label {
  color: $gray-500;
}

.pgn__form-control-floating-label .pgn__form-control-floating-label-content {
  font-size: 0.875rem;
  line-height: 1.5;
}

.pgn__form-text {
  font-size: 0.75rem;
}

.form-field {
  min-width: 25rem;
  max-width: 25rem;
}

.form-field input{
  min-height: 2.8125rem;
  border: 1px solid #e5e7eb;
  // color: #6b7280;
  color: #d1d5db;
}

.form-field .form-control:focus ~ .pgn__form-control-floating-label .pgn__form-control-floating-label-content {
    font-size: 16px;
    color: $primary-700;
}

.form-field .form-control:not([value='']):not(:focus) ~
  .pgn__form-control-floating-label .pgn__form-control-floating-label-content {
  font-size: 16px;
}

.pgn__form-group {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.form-text-size {
  margin-top: 0.188rem !important;
  line-height: 1.25rem;
}

.progressive-profiling-support {
  font-size: 0.875rem;
  font-weight: 400;
}

.pp-page-heading {
  line-height: 1.75rem;
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
  font-weight: 700;

  @include media-breakpoint-down('md') {
    line-height: 1.5rem;
    font-size: 1.125rem;
  }
}

@media (min-width: 1024px) {
  .mw-500 {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .form-control {
    width: 100%;
  }
}

@media (min-width: 463px) {
  .reset-password-container {
    width: 420px;
    max-width: 420px;
  }

  .tpa-skeleton {
    min-width: 464px !important;
  }
}


@media (max-width: 767px) {
  .welcome-page-content {
    padding-top: 1.5rem !important;
  }
}

@media (max-width: 464px) {
  .dropdown-container {
    width: auto;
    left: 0;
    right: 0;
    position: relative;
  }
}

.alert {
  p:last-child {
    margin-bottom: 0;
  }
}

// Smaller than Extra Small (Mobile Screens)
@media (max-width: 464px) {
  .btn-social {
    min-width: 100%;
    margin-bottom: 0.75rem;
    margin-right: 0 !important;
  }

  .welcome-page-content,
  .main-content {
    min-width: 100vw !important;
    padding: 1.5rem !important;
  }

  #password-requirement-top {
    display: unset;
    .tooltip-inner {
      max-width: inherit;
      min-width: unset !important;
    }
  }

  .progressive-profiling-support {
    font-size: 0.688rem;
    font-weight: normal;
    line-height: 0.938rem;
  }
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: $light-200;
}

.secondary-provider-link {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $primary-700
}

.opt-checkbox {
  .pgn__form-label {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  margin-left: 3px;
}
.suggested-username {
  position: relative;
  margin-top: -8.7%;
  margin-left: 15px;
}
.suggested-username-close-button {
  right: 1rem;
  position: absolute;
}
.suggested-username-with-error {
  position: relative;
  margin-top: -13.7%;
  margin-bottom: 11%;
  margin-left: 15px;
}
.scroll-suggested-username {
  width: 21rem;
  white-space: nowrap;
  overflow-x: auto;
  display: inline-flex;
}

.pgn__form-control-decorator-trailing {
  right: 0 !important;
}

// Below code added by Skills Network (Efkan)

.other-login-option-lite {
  color: #7f7f7f;
  font-weight: 275;
  font-size: 1.35rem;
  margin-bottom: 15px;
}

.pgn__stateful-btn {
  background-color: #f39c12;
  border: #f39c12;
  font-weight: 600;
  width: 100%;
  min-height: 3rem;
}

.content-align-center {  // To adjust the width of the logistration div
  width: 100%;
  padding-right: 15%;
  text-align: center;
}

.logistration-title {
  font-size: 3.1rem;
  color: #111827;
  font-weight: 700;
  text-align: center;
}

.grid {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, minmax(0,1fr));
  padding: 10px;
  place-items: center;
}

@media (max-width: 1660px) {
  .grid {
    grid-template-columns: repeat(1, minmax(0,1fr));
  }  
}

.login-button-width {
  width: 25rem; /* A little narrower than the username-password input boxes */
}

.login-button-container {
  width: 100%;
}

.margin-top-1rem {
  margin-top: 1.65rem;
}

.margin-bottom-1rem {
  margin-bottom: 1.65rem;
}

.margin-bottom-3rem {
  margin-bottom: 2.8rem;
}

.forgot-password-container-inner {
  width: 25rem; /* Same width as the username-password input boxes */
  text-align: right;
}

.forgot-password-container-outer {
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.letter-spacing-1 {
  letter-spacing: 0.9px;
}

.hide {
  display: none !important;
}

.sign-up-page-link {
  color: #f39c12;
  font-weight: 500;
  transition: 0.2s;
}

.sign-up-page-link:hover {
  color: purple;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

.signin-page-box {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #7f7f7f;
}

.contain-and-center {
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.montserrat-font {
  font-family: 'Montserrat', 'Segoe UI', sans-serif;
}

.font-weight-500{
  font-weight: 500;
}

.padding-right-8rem {
  padding-right: 8rem;
}

.grayish-color-important {
  color: #9ca3af !important;
}

.underline-important {
  text-decoration: underline !important;
}

.gray-text {
  color: #7f7f7f;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w25-rem {
  width: 25rem;
}

.fs-1p5-rem {
  font-size: 1.5rem;
}

// registration page CSS

#honor-code {
  color: #9ca3af;
}

.login-page-box {
  font-size: 0.9rem;
}

#login-page-link {
  color: #f39c12;
  transition: 0.2s;
  text-decoration: none;
  font-weight: 600;
}

#login-page-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

// login page CSS

.no-mie-important {
  margin-inline-end: 0 !important;
}

.height-3-rem {
  height: 2.8rem;
}

.reduce-bottom-margin-1 {
  margin-bottom: -1rem;
}